<div class="section">
  <div class="container">
    <% if current_user %>
      <nav class="nav nav-logged">
        <div class="nav-actions"> 
          <%= link_to "Główna", root_path, class: "nav-boxes" %>
          <%= link_to "Dodaj", new_offert_path, class: "nav-boxes" %>
          <%= link_to 'Wyloguj', user_session_path(current_user), data: { turbo_method: :delete }, class: "nav-boxes" %>
        </div>
          <a  class="link-edu" href="https://guides.rubyonrails.org/getting_started.html">Edukacja</a>
      </nav>
    <% else %>
      <nav class="nav nav-anonim">
        <div class="nav-actions"> 
          <%= link_to "Główna", root_path, class: "nav-boxes" %>
          <%= link_to "Zaloguj", new_user_session_path, class: "nav-boxes" %>
          <%= link_to 'Dołącz', new_user_path, class: "nav-boxes" %>
        </div>
        <a  class="link-edu" href="https://guides.rubyonrails.org/getting_started.html">Edukacja</a>
      </nav>
    <% end %>

    <div class="default--form-container">
      <h1 class="default-title primary-header">Dodaj Ofertę</h1>
      <%= form_with model: offert, class: "form-default" do |form| %>
        <div>
          <%= form.label :title, class: "label-default" %><br>
          <%= form.text_field :title, class: 'input-default' %>
          <% offert.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label :body, class: "label-default"  %><br>
          <%= form.text_area :body, class: 'input-default' %>
          <% offert.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label :phone_number, "Numer telefonu", class: "label-default"  %><br>
          <%= form.text_field :phone_number, type: :tel, class: 'input-default' %>
          <% offert.errors[:phone_number].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.submit "Dodaj", class: 'submit-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>