<div class="section">
    <div class="container">
        <% if current_user %>
            <nav class="nav nav-logged">
                <div class="nav-actions"> 
                    <%= link_to "Główna", root_path, class: "nav-boxes" %>
                    <%= link_to "Dodaj", new_offert_path, class: "nav-boxes" %>
                    <%= link_to 'Wyloguj', user_session_path(current_user), data: { turbo_method: :delete }, class: "nav-boxes" %>
                </div>
                <a  class="link-edu" href="https://guides.rubyonrails.org/getting_started.html">Edukacja</a>
            </nav>
            <p class="greetings">Witaj, <%= current_user.name %></p>
            <h1 class="primary-header">Oferty Pracy</h1>
            <div class="offerts">
                <% @offerts.each do |offert| %>
                    <%= link_to offert_path(offert) do %>
                    <div class="offert">
                        <h2 class="secondary-header"><%= offert.title %></h2>
                        <div class="btn--check-offer">Sprawdź</div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <nav class="nav nav-anonim">
                <div class="nav-actions"> 
                    <%= link_to "Główna", root_path, class: "nav-boxes" %>
                    <%= link_to "Zaloguj", new_user_session_path, class: "nav-boxes" %>
                    <%= link_to 'Dołącz', new_user_path, class: "nav-boxes" %>
                </div>
                <a  class="link-edu" href="https://guides.rubyonrails.org/getting_started.html">Edukacja</a>
            </nav>
        <% end %>
    </div>
</div>

