<% if current_user %>
    <p>Witaj, <%= current_user.name %></p>
    <h1>Oferty Prac</h1>
    <% @offerts.each do |offert| %>
        <h2> <%= offert.title %> <%= link_to "&rarr;".html_safe, offert, style: "text-decoration: none;" %></h2>
    <% end %>
    <%= link_to "Dodaj Ofertę Pracy", new_offert_path %>
    <%= link_to 'Wyloguj', user_session_path(current_user), data: { turbo_method: :delete } %><br>
<% else %>
    <%= link_to "Zaloguj", new_user_session_path%><br>
<% end %>

